body,html{
    font-family: 'Nanum Gothic', sans-serif;
    background-color:#fff;
    width: 100%;
    height: 100%;
    text-align: center;
    }
        
header { 
    z-index:10000;
    position:fixed;
    top:0;
    left:0; 
    width:100%;
    height:100px;
}

.h_inner {
    position:absolute; 
    bottom:0;
    left:5%;
    width:90%;
    height:40px;
    box-sizing:border-box;
    }
            
span.logo a {
    display:block;
    float:left;
    width:150px; }
span.logo a img { width:100%; }
span.logo a img:hover {content: url('../source/img/logo/logo_white.png');}



.gnb {
    position:absolute;
    top:0; 
    right:0;
    width:350px;
    height:40px; 
}
.gnb ul li { float:left;}
.gnb li + li { margin-left:30px; }
.gnb li a { display:block;
            font-size:15px;
            font-weight:500;
            text-align:center;
            color: #364ca8;}
.gnb li a:hover { color: #d74121 }

section {position: absolute; width: 100%;}
        
    .contents{
        position: absolute;
        position: fixed;
        display: inline;
        top:20%;
        left:30%;
        margin:auto 0 ;
        text-align: center;
        }
        .contents>h2{
        font-size: 25px;
        font-weight:bold;
        margin-bottom: 12px;
        }
        .contents>p{
        font-size: 18px;
        margin-bottom: 55px;
        }
        input{
        text-align: center;
        }
        .email,.keyword,.text{
        background-color: #aaa;
        border: none;
        border-radius: 4px;
        width: 100%;
        border: 1x solid #ccc;
        box-sizing: border-box;
        resize: vertical;
        }
        .email,.keyword{
        width: 300px;
        height:40px;
        }
        .email{
        margin-right: 30px;
        }
        .c_in_top{
        margin-bottom: 20px;
        }
        .c_in_bottom{
        margin:auto;
        }
        .text{
        width: 650px;
        height: 292px;
        margin-bottom: 25px;
        border-radius: 4px;
        }
        input[type=submit] {
        width: 650px;
        height: 50px;
        background-color: #aaa;
        color: #ddd;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }
    
        input[type=submit]:hover {
        background-color: #000;
        }
        input[type=placeholder] {
        font-size: 20px;
        text-align: center;
        }


footer{
    position: fixed;
    width: 100%;
    bottom:5%;
    left: 5%;
}
.f_inner span{
 color: #f4f4f4;
 float: left;
}
.sns{
    float: left;
}
.sns li{
    display: inline;
    margin-left: 8px;
}
.sns li a img{
    width: 20px;
}