body,html{
    font-family: 'Nanum Gothic', sans-serif;
    background-color:#fff;
    width: 100%;
    height: 100%;

    }
        
header { 
    z-index:10000;
    position:fixed;
    top:0;
    left:0; 
    width:100%;
    height:100px;
}

.h_inner {
    position:absolute; 
    bottom:0;
    left:5%;
    width:90%;
    height:40px;
    box-sizing:border-box;
    }
            
span.logo a {
    display:block;
    float:left;
    width:150px; }
span.logo a img { width:100%; }
span.logo a img:hover {content: url('../source/img/logo/logo_white.png');}



.gnb {
    position:absolute;
    top:0; 
    right:0;
    width:350px;
    height:40px; 
}
.gnb ul li { float:left;}
.gnb li + li { margin-left:30px; }
.gnb li a { display:block;
            font-size:15px;
            font-weight:500;
            text-align:center;
            color: #364ca8;}
.gnb li a:hover { color: #d74121 }

        
.contents{
    position: absolute;
    top: 25%;
    left: 38%;
    text-align: center;
}
.contents>h2{
font-size: 30px;
font-weight:bold;
margin-bottom: 15px;
}
.contents>p{
font-size: 18px;
margin-bottom: 55px;
color: #5a5b5b;
}




.container {
    position: absolute;
  width: 900px;
  top: 35%;
left: 22%;
  
}
.l{
    float: left;
}
.l ul li{
    display: inline;

}
.l-1,.l-2{
    width: 400px;
}
.r{
    float: right;
}
.r ul li{
    display: inline;
}
.r-1,.r-2{
    width: 400px;
}
.contact-form {
  list-style-type: none;

  }
  .contact-form li div{
    margin-bottom: 50px;
  }
  input,
  textarea,
  select {
    width: 100%;
    margin: 0;
    padding-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid  #364ca8;;
    color: lightgrey;
    font-weight: 700;
    font-size: 18px;
    transition: ease-in-out 0.25s;
  }
  textarea {
    min-height: 50px;
    max-height: 500px;
    white-space: pre-wrap;
    resize: vertical;
    overflow: hidden;
  }
  ::-webkit-input-placeholder {
    font-size: 12px;
    color: slategrey;
    text-transform: uppercase;
    font-weight: 400;
  }
  label {
    font-size: 12px;
    color: slategrey;
    text-transform: uppercase;
    font-weight: 400;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
    resize: none;
    border-bottom: 2px solid #d74121;
  }

  #amount {
    border: 0;
    color: lightgrey;
    font-weight: 400;
    font-size: 28px;
    padding-top: 1.1em;
    letter-spacing: 3px;
  }
  button {
    position: absolute;
    left: 43%;
    color: #000;
    background: #fff;
    border: 2px solid #d74121;
    height: 45px;
    width: 150px;
    float: right;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s;

  }

  button:hover {
    background: #d74121;
    color: #fff;

  }


footer{
    position: fixed;
    width: 100%;
    bottom:5%;
    left: 5%;
}
.f_inner span{
 color: #949494;
 float: left;
}
.sns{
    float: left;
}
.sns li{
    display: inline;
    margin-left: 8px;
}
.sns li a img{
    width: 20px;
}