body,html{
    font-family: 'Nanum Gothic', sans-serif;
    background-color:#aaa;
    width: 100%;
    height: 100%;
    position:relative;
    }
 
#wrap{position:relative;width:100%}       
header { 
    z-index:10000;
    position:fixed;
    top:0;
    left:0; 
    width:100%;
    height:100px;
}

.h_inner {
    position:absolute; 
    bottom:0;
    left:5%;
    width:90%;
    height:40px;
    box-sizing:border-box;
    }
            
span.logo a {
    display:block;
    float:left;
    width:150px; }
span.logo a img { width:100%; }
span.logo a img:hover {content: url('../source/img/logo/logo_white.png');}



.gnb {
    position:absolute;
    top:0; 
    right:0;
    width:350px;
    height:40px; 
}
.gnb ul li { float:left;}
.gnb li + li { margin-left:30px; }
.gnb li a { display:block;
            font-size:15px;
            font-weight:500;
            text-align:center;
            color: #364ca8;}
.gnb li a:hover { color: #d74121 }

section {position: absolute; width: 100%;}

        
.full-screen  {
    position: absolute;
    width:100%;
    height:100%;
    background-color: #fff;
}
.controls{
    position: absolute;
    text-align: center;
    left:42%;
    top: 18%;
}
h1{
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: bold;
    color: #d74121;
}

.control{
    border: none;
    outline: none;
    background-color: #fff;
    color:#b6b6b6;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 25px;
}

.control:hover {
color:#d74121;
}
.mixitup-control-active {
color:#d74121;
}
.mixitup-control-active[data-filter]:after {
color: transparent;
}

.mix:before {
content: '';
display: inline-block;
}
#content-5{
position: relative;
position: fixed;
width: 100%;
height: 450px;  
bottom: 8%;
background-color:#ededed
}

.mix,
.gap {
display: inline-block;
vertical-align: top;
}
.container{
position: relative;
left: 10%;
}
.mix {
position: relative;
width: 280px;
height: 350px;
margin-top: 50px;
background: #aaa;
margin-right: 35px;

}
.mix a{
    position: absolute;
    width: 280px;
    height: 350px;
    display: inline-block;
   
}
.mix a img{
    position: absolute;
    overflow: hidden;
    width: 280px;
    height: 350px;
}
.mix a img:hover{
    background: rgba(0, 0, 0, .4);
}

.text{
    width: 100%;
    height: 30%;
    padding-top: 3em;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    cursor: pointer;
    text-align: center; 
    font-size: 1.2em;
    border-radius: 5px;
    transition: all 0.8s ease-out;
  }


footer{
    position: fixed;
    width: 100%;
    bottom:3%;
    left: 5%;
}
.f_inner span{
 color: #949494;
 float: left;
}
.sns{
    float: left;
}
.sns li{
    display: inline;
    margin-left: 8px;
}
.sns li a img{
    width: 20px;
}