body,html{
    font-family: 'Nanum Gothic', sans-serif;
    background-color:#aaa;
    width: 100%;
    height: 100%;
    }
        
header { 
    z-index:10000;
    position:fixed;
    top:0;
    left:0; 
    width:100%;
    height:100px;
}
.h_inner {
    position:absolute; 
    bottom:0;
    left:5%;
    width:90%;
    height:40px;
    box-sizing:border-box;
    } 
    
    
span.logo a {
    display:block;
    float:left;
    width:150px; }
span.logo a img { width:100%; }
span.logo a img:hover {content: url('../source/img/logo/logo_white.png');}



.gnb {
    position:absolute;
    top:0; 
    right:0;
    width:350px;
    height:40px; 
}
.gnb ul li { float:left;}
.gnb li + li { margin-left:30px; }
.gnb li a { 
    display:block;
    font-size:15px;
    font-weight:500;
    text-align:center;
    color: #364ca8;}
.gnb li a:hover { color: #d74121 }

.here{color: #d74121 ;}


.inner{
    position:absolute;
    top:45%;
    left:5%;
}
.title{
    font-size:75px; 
    font-weight:100;
    color: #364ca8;
    letter-spacing:10px;
}

.arch{margin-top: 80px;}

.beforce{
    position:absolute;
    top:52%;
    left:10%;
    color: #364ca8;
}
.center{
    text-align: center;
    position:absolute;
    top:80%;
    left: 45%;
    color: #7c7c7c;
    font-size:15px; 
    font-weight:100;
}
.center2{
    text-align: center;
    position:absolute;
    top:80%;
    left: 40%;
    color: #7c7c7c;
    font-size:15px; 
    font-weight:100;
}
.inner_4{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;

}
.grid-container {
    position: absolute;
    top:30%;
    left:10%;
    display: grid;
    grid-column-gap: 110px;
    grid-row-gap: 60px;
    grid-template-columns: 130px 130px;
    grid-template-rows: 140px 140px; 
}

.kwimg{
    width: 150px;
    position: absolute;
}
.keyword{
    font-size: 15px;
    font-weight:100;
    color: #b6b6b6;
    padding-top: 130px;
    text-align: center;
    letter-spacing: 30;
}
.inner_4 h2{
    font-size: 50px;
    letter-spacing: 50;
    font-weight: 100;
    color: #364ca8;
    margin-bottom: 100px;
}
.inner_4 p{
    font-size: 15px;
    letter-spacing: 30;
    color: #787878;
}
.arch_4{
    position: absolute;
    top: 35%;
    right: 15%;
}



.inner_6{
    position: relative;
    top:35%;
    text-align: center;
}
.inner_6>div> p{
    font-size: 20px;
    font-weight:bold;
    color: #364ca8;
}
 .inner_6>div> img{
    width: 250px;
    margin-top: 30px;
}
.inner_6>div>h2{
    font-size: 50px;
    font-weight:100;
    color: #cacaca;
    margin-top: 70px;
}



.right p{

    color: #d74121;
    position: absolute;
    width: 20px;
    top:90%;
    right: 5%;
    margin-top: 5px;
}
.n_btn{
    position: absolute;
    width: 20px;
    top:85%;
    right: 5%;
}
.n_btn:hover{transform: scale(1.2);}

.member{
    position: absolute;
    top:40%;
    left: 15%;
   }
.mem_box{
    float: left;
   }
   .mem_img{
   
   width: 250px;
   margin-right: 36px;
   
   
   }
   .bolder{
       font-size: 18px;
       font-weight: bold;
       color: #364ca8;
   }
   .mem_name{
       position: relative;
       font-size:15px;
       left: 120px;
       top:-50px;
       color: #364ca8;
   }
   .titlie{
       position: absolute;
       font-size: 45px;
       font-weight: bold;
       color:#d74121;
       text-align: center;
       top: 30%;
       left: 45%;
   }

   #mem1:hover{
   content: url('../source/img/member/ny_c.png');
   }
   #mem2:hover{
   content: url('../source/img/member/hi_c.png');
   }
   #mem3:hover{
   content: url('../source/img/member/yj_co.png');
   }
   #mem4:hover{
   content: url('../source/img/member/yj_C.png');
   }
   #natop{
       position: relative;
   top: 10px;}

footer{
    position: fixed;
    width: 100%;
    bottom:5%;
    left: 5%;
}
.f_inner span{
    color: #787878;
    float: left;
}
.sns{
    float: left;
}
.sns li{
    display: inline;
    margin-left: 8px;
}
.sns li a img{
    width: 20px;
}
