body,html{
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    }
        
header { 
    z-index:10000;
    position:fixed;
    top:0;
    left:0; 
    width:100%;
    height:100px;
}

.h_inner {
    position:absolute; 
    bottom:0;
    left:5%;
    width:90%;
    height:40px;
    box-sizing:border-box;
    }
            
span.logo a {
    display:block;
    float:left;
    width:150px; }
span.logo a img { width:100%; }
span.logo a img:hover {content: url('../source/img/logo/logo_white.png');}



.gnb {
    position:absolute;
    top:0; 
    right:0;
    width:350px;
    height:40px; 
}
.gnb ul li { float:left;}
.gnb li + li { margin-left:30px; }
.gnb li a { display:block;
            font-size:15px;
            font-weight:500;
            text-align:center;
            color: #364ca8;}
.gnb li a:hover { color: #d74121 }


button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}


button {
    background: none;
    border: 2px solid #2d47af;
    border-radius: 5px;
    color: #2d47af;
    display: block;
    position: relative;
    width:150px;
    height:40px; 
    font-size:18px; 
    font-weight:100;
    text-align:center; 
    position:absolute;
    top:60%;
    left: 45%;
    display: inline-block;

  }
  

    button:hover {
    color: #fff;
    background: #2d47af;
    }
footer{
    position: fixed;
    width: 100%;
    bottom:3%;
    left: 5%;
}
.f_inner span{
 color: #949494;
 float: left;
}
.sns{
    float: left;
}
.sns li{
    display: inline;
    margin-left: 8px;
}
.sns li a img{
    width: 20px;
}