body,html{
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100vh;
    }
        
header { 
    z-index:10000;
    position:fixed;
    top:0;
    left:0; 
    width:100%;
    height:100px;
}

.h_inner {
    position:absolute; 
    bottom:0;
    left:5%;
    width:90%;
    height:40px;
    box-sizing:border-box;
    }
            
span.logo a {
    display:block;
    float:left;
    width:150px; }
span.logo a img { width:100%; }
span.logo a img:hover {content: url('../source/img/logo/logo_white.png');}



.gnb {
    position:absolute;
    top:0; 
    right:0;
    width:350px;
    height:40px; 
}
.gnb ul li { float:left;}
.gnb li + li { margin-left:30px; }
.gnb li a { display:block;
            font-size:15px;
            font-weight:500;
            text-align:center;
            color: #364ca8;}
.gnb li a:hover { color: #d74121 }

section {position: absolute; width: 100%;}
.app_btn {
    position:absolute;
    top:70%;
    right:13%;
    opacity:1; }
.app_btn a {
    display:block;
    width:100px;
    height:40px; 
    line-height:40px;
    color:#2d47af;
    font-size:18px; 
    font-weight:100;
    text-align:center; 
    border:1.5px solid #2d47af; }
.app_btn a:hover {
    color:#fff;
    font-weight:100;
	background-color:#2d47af; }


        
.full-screen  {
    position: absolute;
    width:100%;
    height:100%;
    background-color: #fff;
}
.controls{
    position: absolute;
    text-align: center;
    left:40%;
    top: 18%;
}
h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    color: #d74121;
}
.control{
    border: none;
    outline: none;
    background-color: #fff;
    color:#b6b6b6;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 35px;
}
.control:hover {
color:#d74121;
}
.mixitup-control-active {
color:#d74121;
}

#thum_contents{
    position: relative;
    left: 15%;
    top:38%;
}

#thum_topinner{
    position: absolute;

}

hr{
color: #9d9d9d;
padding: 1px;
}



#imgslider{
float: left;
}
.mainimg{
    margin-bottom: 17px;
}
.mainimg img{
    width:500px;
    height:400px;
}


#thumtop{

    width: 500px;
     float: left;
    margin-left: 150px;
 }
#title{
height: 45px;
position: relative;
}
#title h3{
font-size: 25px;
color: #000;
font-weight: bold;
margin-bottom: 5px;
}
.hash{
position: absolute;
font-size:12px;
padding-left: 175px;
color: #d74121;
}
.keyword{
color: #9d9d9d;
font-size: 15px;
}
.grid-containerA{

display: grid;
grid-column-gap: 91px;
grid-row-gap: 30px;
grid-template-columns: 60px 150px;
grid-template-rows: 30px 30px; 
position: relative;
margin-top: 38px; 

}
.grid-containerB{

display: grid;
grid-column-gap: 91px;
grid-row-gap: 30px;
grid-template-columns: 60px 150px;
grid-template-rows: 30px 30px; 
position: relative;
margin-top: 38px; 

}
.small{
font-size: 10px;
width: 150px;
margin-left: 150px;
color: #9d9d9d;
display: inline-block;
}

.dropdown{
border:1px solid #9d9d9d;
font-size:12px;
width:120px;
height:30px;
background-color:#fff;
}

.dropdown ul{
list-style:none;
}

.dropdown li{
float:center;

}

.dropdown li a{
display:block;
text-align:center;
text-decoration:none;
width:120px;
}
.dropdown li a p{
margin-top:8px;
display:inline-block;
color:#9d9d9d;

}
.dropdown li a div{
float:right;
width:30px;
height:30px;
background-color:#9d9d9d;
}
.dropdown li a div img{
display: inline;
width:20px;
height:20px;
padding-top: 3px;
}
.dropdown li a:hover, .menubar ul li:hover a{
background-color:#fff;
color:#9d9d9d;
text-decoration:none;
}

.dropdown li ul{
background: #9d9d9d;
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
position:absolute;
width:120px;


}

.dropdown li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.dropdown li li {
background: #fff;
display:block;
float:none;
width:120px;
height:25px;
border:1px solid #9d9d9d;
}

.dropdown li:hover li a{
background:none;
}

.dropdown li ul a{
width:120px;
height:25px;
display:block;
font-size:12px;
text-align:center;
padding-top:8px;
color:#9d9d9d;

}

.dropdown li ul a:hover, .dropdown li ul li:hover a{
background: #9d9d9d;
color:#ffffff;
text-decoration:none;
}

#buy{
float: left;
}
#buy p{
margin-left: 260px;
padding: 20px;
}
.bbut1,.bbut2{
width: 150px;

}
.bbut1:hover{
content: url('../source/img/btn/button_hover.png');
}
.bbut1{
margin-left: 78px;
}
.bbut2:hover{
content: url('../source/img/btn/button_hover1.png');
}
.bbut2{
margin-left: 50px;
}
#thumbottom{
position: absolute; 
height:100vh;
top:700px;
left: 0;
float: left;
}
.intro{
    width: 100%;
height: 500px;
margin-bottom: 150px;
text-align: center;
}

.intro img{
width:200px;
height: 40px;
padding-bottom: 50px;
}
.intro h3{
font-size:35px;
color:#d74121;
font-weight: bold;
padding-bottom: 20px;
}
.intro p>span{
display: block;
font-size:15px;
color:#676767;
margin-bottom:3px;
}

h4{
font-size:18px;
color:#364ca8;
font-weight: bold;
margin-top:45px;
margin-bottom: 45px;
text-align: center;
}
.tm{

    position: relative;
    width: 100%;
    height: 500px;
}
.thum_keyimg ul li{
    display: inline;
    float: left;
    margin-right: 30px;
}
.thum_keyimg ul li p{
font-size:12px;
color:#595757;
text-align: center;
}
.da{
    position: relative;
    width: 100%;
    height: 500px;
}
.maxbanner,.brand{

width: 100%;
}
.brand p{
font-size:15px;
color:#595757;
text-align: center;
margin-top: 15px;
}
.banner{

}
.breakgrid ul{
position: relative;
}
.breakgrid ul li{
display: inline;
float: left;

}
.breakgrid #brg1{


}
.breakgrid #brg2{

}
.breakgrid #brg3{

}
a.top {
position: fixed;
right:15%;
bottom: 50px;
display: none;

}
a.top img{
width: 10%;
height: 10%;
}

footer{
    position: fixed;
    width: 100%;
    bottom:5%;
    left: 5%;
}
.f_inner span{
 color: #f4f4f4;
 float: left;
}
.sns{
    float: left;
}
.sns li{
    display: inline;
    margin-left: 8px;
}
.sns li a img{
    width: 20px;
}